.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    text-align: center;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    text-align: center;
}
