{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="alert alert-success">
            <strong>Hello {{ user.username }}!</strong>
        </div>
    </div>

    <div class="center-block">
        <a href="{% url 'person_create' %}" class="btn btn-primary pull-right">New Person</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Person</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for person in people_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ person.first_name }} {{ person.last_name }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'person_read' person.pk %}" class="btn btn-info btn-sm">Show</a>
                            <a href="{% url 'person_update' person.pk %}" class="btn btn-success btn-sm">Update</a>
                            <a href="{% url 'person_delete' person.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}